In [64]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [65]:
data_url = "https://raw.githubusercontent.com/environmental-data-science" \
            "/eds217_2023/main/data/BSRN_GOB_2019-10.csv"

bsrn = pd.read_csv(data_url)

In [66]:
#number of columns
print(bsrn.columns) 
#tells us how many columns there are
print(bsrn.size) 
#tells use the data type of the first column
print(bsrn.iloc[0].info())

Index(['DATE', 'H_m', 'SWD_Wm2', 'STD_SWD', 'DIR_Wm2', 'STD_DIR', 'DIF_Wm2',
       'STD_DIF', 'LWD_Wm2', 'STD_LWD', 'SWU_Wm2', 'LWU_Wm2', 'T_degC', 'RH',
       'P_hPa'],
      dtype='object')
669600
<class 'pandas.core.series.Series'>
Index: 15 entries, DATE to P_hPa
Series name: 0
Non-Null Count  Dtype
--------------  -----
15 non-null     object
dtypes: object(1)
memory usage: 240.0+ bytes
None

## ðŸ“š  Practice 3.

1. Create a new DataFrame containing the first record for each day and the following columns: the timestamp of the record, incoming shortwave radiation, direct and diffuse radiation, and incoming longwave radiation. 
(Hint: the BSRN station collects data every minute). 
1. Create a new Series containing the temperature values every hour at the top of the hour.
1. Convert the `DATE` column to `datetime` using the `pd.to_datetime()` function.
1. Set the `DATE` column as the index of the DataFrame using the `set_index()` method.

In [67]:
bsrn['DATE'] = pd.to_datetime(bsrn['DATE']) #convert to datetime

bsrn.DATE.dt.time #extract time from datetime

bsrn['is_first_observation'] = bsrn.DATE.dt.time == bsrn.DATE.dt.time[0]

#bsrn['is_first_observation'] = bsrn.DATE.dt.time == bsrn.DATE.dt.time[0]
#find all the rows where it's the first record of the day

In [68]:
#3a
bsrn[ 
        bsrn.DATE.dt.time == bsrn.DATE.dt.time[0] #only keep the rows that are the first in the day
    ][
       ["DATE", "SWU_Wm2", "DIR_Wm2", "DIF_Wm2"] #find specific columns
    ]

            DATE  SWU_Wm2  DIR_Wm2  DIF_Wm2
0     2019-10-01        0      0.0     -3.0
1440  2019-10-02        0      0.0     -2.0
2880  2019-10-03        0      0.0     -2.0
4320  2019-10-04        0      0.0     -3.0
5760  2019-10-05        0      0.0     -2.0
7200  2019-10-06        0      0.0     -3.0
8640  2019-10-07        0      0.0     -3.0
10080 2019-10-08        0      0.0     -3.0
11520 2019-10-09        0      0.0     -2.0
12960 2019-10-10        0      0.0     -2.0
14400 2019-10-11        0      0.0     -2.0
15840 2019-10-12        0      0.0     -2.0
17280 2019-10-13        0      0.0     -3.0
18720 2019-10-14        0      0.0     -2.0
20160 2019-10-15        0      0.0     -2.0
21600 2019-10-16        0      0.0     -3.0
23040 2019-10-17        0      0.0     -2.0
24480 2019-10-18        0      0.0     -2.0
25920 2019-10-19        0      0.0     -2.0
27360 2019-10-20        0      0.0     -2.0
28800 2019-10-21        0      0.0     -3.0
30240 2019-10-22        0      0.0     -3.0
31680 2019-10-23        0      0.0     -3.0
33120 2019-10-24        0      0.0     -2.0
34560 2019-10-25        0      0.0     -2.0
36000 2019-10-26        0      0.0     -2.0
37440 2019-10-27        0      0.0     -3.0
38880 2019-10-28        0      0.0     -2.0
40320 2019-10-29        0      0.0     -3.0
41760 2019-10-30        0      0.0     -3.0
43200 2019-10-31        0      0.0     -2.0

In [69]:
#a (another way)
df = bsrn.iloc[ 
        ::1440 #use indexing to get 
    ][
       ["DATE", "SWU_Wm2", "DIR_Wm2", "DIF_Wm2"] #find specific columns
    ]

In [70]:
#3b
bsrn.iloc[
    ::60 #get every 60th row which is every hour on the hour
][
    ['T_degC'] #get this column --
]

       T_degC
0        16.2
60       18.2
120      18.0
180      17.9
240      18.1
...       ...
44340    27.1
44400    23.6
44460    22.7
44520    22.0
44580    23.1

[744 rows x 1 columns]

In [71]:
#3c
bsrn['DATE'] = pd.to_datetime(bsrn['DATE']) #convert to datetime

In [73]:
#3d
# Option 1 - overwrite the original data set
#bsrn = bsrn.set_index('DATE')
#bsrn

# Option 2 - use inplace = TRUE
bsrn.set_index('DATE', inplace=True)

In [ ]:
#4
bsrn.mean[
    ['LWD_Wm2', '']
]

In [74]:
#5a
#option 1
#bsrn['NET_SW'] = bsrn.SWD_Wm2 - bsrn.SWU_Wm2 #new column for net shortwave
#optin 2
bsrn['NET_SW'] = bsrn['SWD_Wm2'] - bsrn['SWU_Wm2']

In [75]:
#5b
bsrn['NET_LW'] = bsrn['LWD_Wm2'] - bsrn['LWU_Wm2']

In [76]:
#5c
bsrn['NET_RAD'] = bsrn['NET_LW'] + bsrn['NET_SW']

In [83]:
#5d
daily_rad = []
for d in bsrn.index.day.unique():
    #print(d)
    avg_SWD = bsrn.SWD_Wm2[bsrn.index.day == d].mean()
    #print(bsrn.SWD_Wm2[bsrn.index.day == d].mean())
    avg_SWU = bsrn.SWU_Wm2[bsrn.index.day == d].mean()
    avg_LWD = bsrn.LWD_Wm2[bsrn.index.day == d].mean()
    avg_LWU = bsrn.LWU_Wm2[bsrn.index.day == d].mean()
    avg_NET = bsrn.NET_RAD[bsrn.index.day == d].mean()
    daily_rad.append([d,avg_SWD, avg_SWU, avg_LWD, avg_LWU, avg_NET])

daily_sw = pd.DataFrame(daily_rad, columns = ['day','SW_in','SW_out', 'LW_in', 'LW_out', 'NET_SW'])
print(daily_sw)

    day       SW_in      SW_out       LW_in      LW_out      NET_SW
0     1  325.336345  115.334028  321.219903  458.834028   72.366295
1     2  322.732453  113.939583  318.131341  448.486111   78.402643
2     3  298.635417  103.261806  330.516667  429.979861   95.910417
3     4  323.209173  113.222222  314.129526  439.990972   83.788153
4     5  296.861806  105.461806  324.660876  427.359722   88.569840
5     6  292.118915  104.219444  330.458333  428.665278   89.634214
6     7  339.848611  119.959722  303.437413  439.002778   84.256606
7     8  332.009028  116.752778  313.126653  438.550000   89.752262
8     9  290.577083  104.436806  342.506267  428.110417  100.719359
9    10  310.887500  108.638889  331.667130  434.941667   99.003475
10   11  312.226389  108.406250  350.486787  458.562500   95.713491
11   12  313.099306  108.276389  375.387500  483.829167   96.381250
12   13  292.540972   97.745833  389.507307  485.947222   98.496173
13   14  210.243056   76.329167  390.913829  470.870139   53.968033
14   15  294.886806   91.408333  399.457639  500.201389  102.734722
15   16  322.011111  114.262500  400.745833  510.212500   98.281944
16   17  306.800000  106.773611  390.968033  492.745833   98.216817
17   18  298.656250  104.536111  364.097222  459.456944   98.760417
18   19  314.968750  110.327083  365.431250  460.609028  109.463889
19   20  329.323611  113.339583  357.791522  473.039583  100.699097
20   21  338.721334  117.433333  340.713189  470.612500   91.124215
21   22  338.259722  117.554861  325.689368  441.588194  104.785962
22   23  354.881944  122.917361  306.553857  438.565972   99.920083
23   24  344.563194  119.732639  319.499653  452.019444   92.253648
24   25  261.228472   87.575000  344.902643  441.439583   77.226008
25   26  345.552778  118.828472  337.203614  459.212500  104.666435
26   27  356.714583  123.323611  309.846421  434.491667  108.699097
27   28  358.297636  125.206944  303.482615  421.080556  115.599582
28   29  352.906944  122.894444  322.271399  448.573611  103.583159
29   30  357.626129  123.736806  331.607516  462.778472  102.614903
30   31  323.794302  107.959722  356.192629  466.917361  105.046592